doctype html
html(lang="en")
  head
    title="qwertery"
    link(
      href!='http://fonts.googleapis.com/css?family=Rokkitt', 
      rel='stylesheet', 
      type!='text/css'
    )
    link(rel='stylesheet', href!='css/main.css')
  body
    .container
      .main
        .race-container
          .race-header
            span.countdown-text
              | Starting in 
              span.countdown-seconds
              | ...
          .race-text
          .race-bottom
            .input-wrapper
              input.current-word-input#current-word-input(type='text')
            .status-box
              span.percent-complete
                | <span class="percent-complete-value">0</span>%
              span.status-slash="/"
              span.current-speed="0"
              span.speed-unit-text="wpm"
        .enter-race-button-wrapper
          button(
            class="init-button large-button",
            onclick="game.init()"
          )
            | Enter race
    script(src!="js/jquery.js")
    script(src!="js/app.js")