extends ./layouts/primary.jade

block stylesheets
  link(rel="stylesheet", href!="/css/race.css")

block main-content
  .race-upper-pane
    .race-text-wrapper
      .race-text
        | Human beings, who are almost unique in having the ability to learn from the experience of others, are also remarkable for their apparent disinclination to do so.
    .race-input-wrapper
      input.race-input(type="text")
  .race-lower-pane
    .race-status-header
      | RACE STATUS
    .race-status-content
      .players-wrapper
        .player-status-wrapper
          .player-status
            canvas.graph#graph-1(width="200", height="200")
            .text-status
              span.player-name="Carson"
              span.player-wpm="30wpm"
        .player-status-wrapper
          .player-status
            canvas.graph#graph-2(width="200", height="200")
            .text-status
              span.player-name="WhateverItIsIsHere"
              span.player-wpm="30wpm"
        .player-status-wrapper
          .player-status
            canvas.graph#graph-3(width="200", height="200")
            .text-status
              span.player-name="LooksLikeStuffLong"
              span.player-wpm="30wpm"

block append body-scripts
  script(src!="js/race-visuals.js")